<h1>Indicadores Económicos</h1>

<div class="wrapper" *ngIf="indicators">
  <app-indicator [inputIndicator]="indicators.uf"></app-indicator>
  <app-indicator [inputIndicator]="indicators.ivp"></app-indicator>
  <app-indicator [inputIndicator]="indicators.dolar"></app-indicator>
  <app-indicator [inputIndicator]="indicators.dolar_intercambio"></app-indicator>
  <app-indicator [inputIndicator]="indicators.euro"></app-indicator>
  <app-indicator [inputIndicator]="indicators.ipc"></app-indicator>
  <app-indicator [inputIndicator]="indicators.utm"></app-indicator>
  <app-indicator [inputIndicator]="indicators.imacec"></app-indicator>
  <app-indicator [inputIndicator]="indicators.tpm"></app-indicator>
  <app-indicator [inputIndicator]="indicators.libra_cobre"></app-indicator>
  <app-indicator [inputIndicator]="indicators.tasa_desempleo"></app-indicator>
  <app-indicator [inputIndicator]="indicators.bitcoin"></app-indicator>
</div>